.overlay {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 9;
  display: none;
}

.whiteboard {
  display: inline-flex;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  text-align: start;
  font-size: 20px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: linear-gradient(45deg, #6197a3, #7db0bd);
  color: white;
  border-radius: 10px;
  align-items: left;
  white-space: nowrap;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  flex-wrap: nowrap;
  justify-content: flex-start;
  white-space: nowrap;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5),
    inset 0 0 20px rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}

.close-config-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  width: 50px;
  height: 50px;
  right: 1%;
  border: none;
  display: none;
  -webkit-text-stroke: thick;
  color: white;
  border-radius: 50%;
  background-color: rgb(50, 51, 81);
  font-size: 20px;
  text-align: center;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: translateY(0%);
  transition: ease-out 250ms;
  transition-property: transform, background-color, text-decoration, color,
    display;
}

.back-to-top.show {
  display: block;
}

.back-to-top:hover {
  background-color: rgb(90, 209, 232);
  color: black;
  border-top-style: outset;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-top-width: medium;
  border-bottom-style: outset;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-bottom-width: medium;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.3);
  transform: translateY(-22%);
}

.back-to-top:active,
.back-to-top:focus {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(50, 51, 81);
  border: none;
  color: white;
  transform: translateY(0%);
}

.hover-full-button {
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter, font-size;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;

  margin-top: 5%;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3px;
  text-align-last: center;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  outline: white;
  outline-width: thin;
  outline-style: auto;
  cursor: pointer;
  border-radius: 0.4em;
}

.hover-full-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-size: 23px;
}

#next-arrow {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 7%;
  transition: ease-out 250ms;
  transition-property: transform, font-size, color, box-shadow, backgroundColor;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}

#next-arrow:target {
  transform: translate(-50%, -50%) scale(0.5);
}

#next-arrow:hover {
  transform: translate(-50%, -50%) scale(1.5);
  color: #2dc5e2;
}

.volume-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0px 0px 0px 0px;
  transition: ease-out 400ms;
  transition-property: all;
}

.volume-wrapper:hover {
  transform: scale(1.005);
  padding: 0px 5px 0px 5px;
  background-color: #5ad1e8;
}

.vertical-market {
  overflow-y: scroll;
  max-height: 425px;
  overflow-x: clip;
  margin-top: 5px;
  transition: height 200ms ease-out 0s;
}

.vertical-market::-webkit-scrollbar {
  width: 5px;
}

.vertical-market::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.vertical-market::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  border: 1px solid #555;
}

.vertical-market::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
}

.vertical-market::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  transform: scale(1.2);
}

[id^="hide-arrow"] {
  display: block;
}

[id^="hide-arrow"]:hover {
  transform: scale(1.5) translateY(1.5px);
  color: rgba(255, 255, 255, 1) !important;
}

.button-configs {
  padding: 0.5rem 1rem;
  font-size: 0rem;
  font-weight: 700;
  color: white;
  transition: height 200ms ease-out 0s;
  transition-property: transform, font-size, color, width;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38c8e3;
  border-color: #2dc5e2;
  line-height: 1.5;
  border-radius: 2rem;
  text-align: center;
  appearance: button;
  -webkit-appearance: button;
}

.button-configs:hover {
  background-color: #1ba6c1;
  border-color: #1ba6c1;
  font-size: 1rem;
}

[id^="scale-arrow"] {
  transition: height 200ms ease-out 0s;
  transition-property: transform;
}

[id^="scale-arrow"]:hover {
  transform: scale(1.25);
}

.config-header {
  display: flex;
  flex-direction: column;
}

.config-title {
  background-color: #323351;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.config-ul {
  border-style: none groove groove groove;
  border-color: #323351;
  overflow-y: hidden;
  max-height: 0px;
  transition: 300ms ease-in-out 0s;
  transition-property: height, max-height;
  border-radius: 0rem 0rem 1rem 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 3px;
  -webkit-text-stroke-width: thin;
}

.text {
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

.backToTopGoogleIcon {
  font-size: 45;
  transform: rotate(-90deg);
  text-align: center;
  display: flex;
  justify-content: center;
}

.marketRow {
  align-items: center;
  position: relative;
  background: rgb(51, 51, 81);
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 4px !important;
  margin-right: 0 !important;
  padding: 0;
  margin: 12px 0;
}

.AutoOrder {
  margin-top: "5px";
}

.card-body.item-sidebar {
  transition: all 0.2s ease-out 0s !important;
  overflow: hidden;
}

.hide-item {
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out 0s;
}

.hide-item .fa-arrow-down {
  transition: inherit;
  font-size: 2rem;
}

.hide-item:hover .fa-arrow-down {
  transform: scale(1.2) translateY(-8px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hide-item[value="false"]:hover .fa-arrow-down {
  transform: rotate(180deg) scale(1.2) translateY(8px) !important;
}

.hide-item[value="false"] .fa-arrow-down {
  transform: rotate(180deg);
}

.circle-item {
  position: absolute;
  align-self: center;
  background: #323351;
  width: 70px;
  border-radius: 149rem;
  height: 60px;
  z-index: -1;
  transform: translateY(3px);
  transition: inherit;
}

.thisll {
  text-align: center;
  z-index: 100;
}

.card {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.3);
}

.clipboard {
  font-size: 1rem !important;
  transform: translateY(-15px);
  transition: all 0.2s ease-in-out 0s;
}
.clipboard:hover {
  transform: translateY(-15px) scale(1.1);
}

.profitHover {
  transition: background-color 0.2s ease 0s;
}

.profitHover:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.green-txt {
  color: lime;
}
.red-txt {
  color: red;
}

.card-body.card-chart {
  transition: all 0.2s ease 0s;
}

.card-body.card-chart > h3 {
  display: flex;
  justify-content: space-between;
}

.salesGraphIcon {
  font-size: 2rem;
  justify-content: center;
  transition: all 0.2s ease-in-out 0s;
}

.salesGraphIcon:hover .fa-chevron-down {
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.salesGraphIcon[value="false"] {
  transform: rotate(90deg);
}

.nologinbo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 5px;
}

.nologinbo > div.form-group {
  grid-column: span 2;
}

.nologinbo > .input-group.mb-3 {
  grid-column: span 2;
}
.nologinbo > .cf-turnstile {
  grid-column: span 2;
  order: 999;
  display: flex;
  justify-content: center;
}

.grid-2 {
  grid-column: span 2;
}

.fees-calculator {
  color: gray;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 5px;
  align-items: center;
}

.simetricalPlease {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 10px !important;
  width: 100% !important;
  box-sizing: border-box !important;
}
